{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [
    {erlfmt, "v1.5.0"},
    {rebar3_ex_doc, "v0.2.25"},
    {rebar3_hex, "v7.0.8"}
]}.
{ex_doc, [
    {source_url, <<"https://github.com/chiroptical/s2">>},
    {extras, [<<"README.md">>, <<"LICENSE.md">>]}
]}.
{hex, [
    % {doc, ex_doc}
    {doc, #{provider => ex_doc}}
]}.
